@font-face {
    font-family: 'BitPotion';
    src: url('../Assets/Fonts/BitPotion.ttf') format('truetype'); /* Adjusted path */
}

body {
    font-family: 'BitPotion', Arial, sans-serif;
    background-image: url('../Assets/Images/Background.png'); /* Adjusted path */
    cursor: url('../Assets/Images/Cursors/Idle.png'), auto; /* Adjusted path */
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.section {
    height: 100vh;
    scroll-snap-align: start;
}

button, .nav-button, .hero-button, .about-button, input[type="submit"] {
    cursor: url('../Assets/Images/Cursors/Pointer.png'), auto !important; /* Adjusted path */
}

.navbar a img {
    cursor: url('../Assets/Images/Cursors/Pointer.png'), auto !important; /* Adjusted path */
}

.social-icons a {
    cursor: url('../Assets/Images/Cursors/Pointer.png'), auto !important; /* Adjusted path */
}

.feedback-input, textarea {
    cursor: url('../Assets/Images/Cursors/Text.png'), auto; /* Adjusted path */
}
